.wrapper {
  background-color: #fff;
  margin: 15px;
  width: 98%;
  height: fit-content;
  border-radius: 10px;
  padding: 10px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items vertically centered */
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Fully rounded */
  margin: 0 10px;
  background-color: blueviolet;
}

.img {
  border-radius: 50%; /* Fully rounded */
  margin-right: 10px;
  object-fit: cover;
}
.rowData {
  height: 70px;
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: flex-start; /* Align items to the left */
}

.link {
  text-decoration: none;
}

.actionbox {
  display: flex;
  justify-content: space-around;
}

.btn {
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.btnCreate {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #f9e181;
  border-radius: 9999px;
}

.btn1 {
  background-color: #c3ebfa;
  cursor: pointer;
}

.btn2 {
  background-color: #cfceff;
  cursor: pointer;
}

.screenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  padding: 10px;
  width: 50%;
  height: fit-content;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
  padding: 10px;
  border-radius: 0.375rem;
  position: relative;
  z-index: 1000; /* Ensure box is above screenOverlay */
}

.closeBox {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
