.container {
  display: flex;
  height: 100vh;
  background-color: #f6f9f8;
}

.titleBox {
  padding-left: 20px;
  display: flex;
  height: 64px;
  align-items: center;
  width: 100%;
}

/* ////// */

.left {
  width: 15%;
  height: 100vh;
  overflow-y: auto; /* Ensures scrolling in left if content overflows */
}

.right {
  width: 85%;
  height: 100vh;
  /* overflow-y: auto;  */
  background-color: #f6f9f8;
  overflow: hidden;
  margin-right: 10px;
}

.empty {
  height: 50px;
  width: 100%;
  border-color: aquamarine;
}

/* MOBILE */
@media (max-width: 768px) {
  .left {
    display: none;
  }
  .right {
    width: fit-content;
    overflow-y: auto;
  }
}
