.itemBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputStyle {
  border-color: #d7dae0;
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 1px solid #d7dae0;
  background-color: #fafafa;
  transition: all 0.3s ease;
}

/* Focus state */
.inputStyle:focus {
  border-color: #4f86f0;
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 134, 240, 0.2);
  background-color: #fff;
}

.label {
  font-size: 0.8rem;
  color: #6b7280;
}

.errText {
  font-size: 0.8rem;
  color: #f87171;
}
