:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* Hide the first button group */
/* .rbc-btn-group:first-child {
  display: none !important;
} */

/* Align the toolbar label to the right with some padding */
.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

/* Style for the last button group */
.rbc-btn-group:last-child {
  font-size: 13px !important;
}

/* Style for buttons in the last button group */
.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

/* Style for active toolbar buttons */
.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

/* Style for time view borders */
.rbc-time-view {
  border-color: #eee !important;
}

/* Hide the time header */
.rbc-time-header {
  display: none !important;
}

/* Remove border from time content */
.rbc-time-content {
  border: none !important;
}

/* Style for time gutter column */
.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

/* Add padding to timeslot groups */
.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

/* Set background color for timeslot groups */
.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

/* Style for the day slot */
.rbc-day-slot {
  font-size: 14px !important;
}

/* Style for events */
.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

/* Color coding for events */
.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}

.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

/* Style for event labels */
.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
