.headerText {
  text-align: left;
  color: gray;
  font-size: 0.875rem;
  font-weight: 600; /* Adds emphasis to the header */
  padding: 8px; /* Matches cell padding for alignment */
  height: 30px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
}

.customTable th,
.customTable td {
  font-size: 0.875rem; /* Small text size */
  padding: 8px; /* Add padding for spacing */
}

/* Apply border and background only to tbody rows */
.customTable tbody tr th,
.customTable tbody tr td {
  border-bottom: 1px solid #e5e7eb; /* Border and color */
}

/* Alternate row background color for tbody rows */
.customTable tbody tr:nth-child(even) {
  background-color: #f8fafc; /* Slate-50 color */
}

/* Hover effect for tbody rows */
.customTable tbody tr:hover {
  background-color: #f1f0ff; /* Replace with your desired color for lamaPurpleLight */
}
